@page
@model SeminarBuildingMap.Areas.Admin.Pages.BuildingEditSearchModel
@{
    //shows list of all buildings on campus or allow admin to add new building
    ViewData["Title"] = "Edit Building";
}

<h1 class="text-dark font-weight-bold">Select Building to Edit</h1>


@(Html
    .Grid(Model.BuildingData)
    .Build(columns =>
    {
        columns.Add(model => model.bdId).Titled("Building ID");
        columns.Add(model => model.bdName).Titled("Building Name");
    })
    .Empty("No Buildings Found")
    .Sortable()
    .Pageable()
    .Filterable()
)
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label class="text-dark font-weight-bold">New Building ID</label>
        <input class="form-control shadow" id="name" asp-for="bdId" required maxlength="20" />
        <span asp-validation-for="bdId" class="text-danger"></span>

    </div>
    <button type="submit" id="submit" class="btn btn-link btn-dark text-light font-weight-bolder shadow">Add Building</button>

</form>

@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            window.location.href = "BuildingEditDisplay/" + e.detail.data['bd-id'];
        });
    </script>

    <partial name="_ValidationScriptsPartial" />

}
