@page "{bdId}"
@model SeminarBuildingMap.Areas.Admin.Pages.BuildingEditDisplayModel
@{
    ViewData["Title"] = "Edit Building";
}
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <h2 class="font-weight-bold text-dark border-bottom">Edit Building Information</h2>
    <div class="form-group">
        <label class="text-dark font-weight-bold">Building ID</label>
        <input class="form-control shadow" value="@RouteData.Values["bdId"]" readonly />
    </div>
    <div class="form-group">
        <label class="text-dark font-weight-bold">Building Name</label>
        <input class="form-control shadow" asp-for="bdName" maxlength="50" />
    </div>
    <button type="submit" class="btn btn-dark text-light font-weight-bolder shadow" asp-page-handler="update">Update Building Name</button>
    <br /><br />

    <h2 class="font-weight-bold text-dark border-bottom">Edit Building Floors</h2>

    @(Html
        .Grid(Model.FloorData)
        .Build(columns =>
        {
            columns.Add(model => model.flNo).Titled("Floor Number");
            columns.Add(model => model.flName).Titled("Floor Name");
        })
        .Empty("No Floors Found For This Building")
        .Sortable()
        .Pageable()
        .Filterable()
    )
    <br />

    <div class="form-group">
        <label class="text-dark font-weight-bold">Floor Number</label>
        <input class="form-control shadow" asp-for="flNo" maxlength="1" />
    </div>
    <button type="submit" class="btn btn-dark text-light font-weight-bolder shadow" asp-page-handler="add">Add New Floor</button>
</form>


@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            window.location.href = "../FloorEditDisplay/" + "@RouteData.Values["bdId"]" + "/"  + e.detail.data['fl-no'];
        });
    </script>

    <partial name="_ValidationScriptsPartial" />

}
