@page "{bdId}"
@model SeminarBuildingMap.Areas.Admin.Pages.BuildingEditDisplayModel
@{
}
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label>Building ID:</label>
        <input class="form-control" value="@RouteData.Values["bdId"]" readonly />
    </div>
    <div class="form-group">
        <label>Building Name:</label>
        <input class="form-control" asp-for="bdName" maxlength="50" />
    </div>
    <button type="submit" class="btn btn-dark text-light font-weight-bolder" asp-page-handler="update">Update Building Name</button>
</form>

@(Html
    .Grid(Model.FloorData)
    .Build(columns =>
    {
        columns.Add(model => model.flNo).Titled("Floor Number");
        columns.Add(model => model.flName).Titled("Floor Name");
    })
    .Empty("No Floors Found For This Building")
    .Sortable()
    .Pageable()
    .Filterable()
)

<form method="post">
    <div class="form-group">
        <label>Floor Number:</label>
        <input class="form-control" asp-for="flNo" maxlength="1" />
    </div>
    <button type="submit" class="btn btn-dark text-light font-weight-bolder" asp-page-handler="add">Add New Floor</button>
</form>


@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            window.location.href = "../FloorEditDisplay/" + "@RouteData.Values["bdId"]" + "/"  + e.detail.data['fl-no'];
        });
    </script>

    <partial name="_ValidationScriptsPartial" />

}
