@page "{bdId}"
@model SeminarBuildingMap.Areas.Admin.Pages.BuildingEditDisplayModel
@{
}

<form method="post">
    <div class="form-group">
        <label>Building ID:</label>
        <input class="form-control" value="@RouteData.Values["bdId"]" readonly />
    </div>
</form>

@(Html
    .Grid(Model.FloorData)
    .Build(columns =>
    {
        columns.Add(model => model.flNo).Titled("Floor ID");
    })
    .Empty("No Floors Found For This Building")
    .Sortable()
    .Pageable()
    .Filterable()
)

<form method="post">
    <div class="form-group">
        <label>Floor Name:</label>
        <input class="form-control" asp-for="flNo" />
    </div>
    <button type="submit" class="btn btn-primary">Add New Floor</button>
</form>


@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            window.location.href = "FloorEditDisplay/" + e.detail.data['-id'];
        });
    </script>

}