@page "{id}"
@model SeminarBuildingMap.Areas.Admin.Pages.EditAvailabilityModel
@{
}


<a asp-page="OwnedRoomSearch/" class="btn btn-dark btn-default pull-right text-light font-weight-bolder">Return to search</a>
<br /><br />

<h1 class="text-dark">Edit Room</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="OwnedRoomDisplay/" asp-route-id="@RouteData.Values["id"]">View/Edit Room</a></li>
    <li class="nav-item"><a class="nav-link active" role="tab" aria-controls="home" aria-selected="true">View/Edit Availability</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="EditEvent/" asp-route-id="@RouteData.Values["id"]">View/Edit Events</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="EditOwners/" asp-route-id="@RouteData.Values["id"]">View/Edit Assigned Persons</a></li>
</ul>
<br />
<div class="tab-content">
    <div class="tab-pane fade show active">
        <form method="post">
            @(Html
                .Grid(Model.lclSchedule)
                .Build(columns =>
                {
                    columns.Add(model => model.avId).Titled("id").Css("hiddenColumn");
                    columns.Add(model => model.avName).Titled("Name");
                    columns.Add(model => model.avDay).Titled("Day").Filterable(GridFilterType.Multi).UsingFilterOptions(new[]
                    {
                        new SelectListItem {Value = "Monday", Text = "Monday" },
                        new SelectListItem {Value = "Tuesday", Text = "Tuesday"},
                        new SelectListItem {Value = "Wednesday", Text = "Wednesday"},
                        new SelectListItem {Value = "Thursday", Text = "Thursday" },
                        new SelectListItem {Value = "Friday", Text = "Friday" },
                        new SelectListItem {Value = "Saturday", Text = "Saturday" },
                        new SelectListItem {Value = "Sunday", Text = "Sunday" }
                        });

                    columns.Add(model => model.StartTime.ToShortTimeString()).Titled("Start Time").Named("av-start-time");
                    columns.Add(model => model.EndTime.ToShortTimeString()).Titled("End Time").Named("av-end-time");
                    columns.Add(model => model.StartTime.ToString("HH:mm")).Titled("24hrStart").Named("24-hr-start").Css("hiddenColumn");
                    columns.Add(model => model.EndTime.ToString("HH:mm")).Titled("24hrEnd").Named("24-hr-end").Css("hiddenColumn");
                })
                .Empty("No Scheduled Availability")
                .Sortable()
                .Pageable()
                .Filterable()
            )


            <div class="form-group">
                <input id="id" type="hidden" asp-for="lclNewAvailability.avId" value="0" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" asp-for="lclNewAvailability.avName" required />
                    <span asp-validation-for="lclNewAvailability.avName" class="text-danger"></span>
                </div>
                <div class="form-group" id="checkboxes">
                    <label>Day(s):</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Monday" name="checkboxDays" />Monday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Tuesday" name="checkboxDays" />Tuesday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Wednesday" name="checkboxDays" />Wednesday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Thursday" name="checkboxDays" />Thursday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Friday" name="checkboxDays" />Friday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Saturday" name="checkboxDays" />Saturday</label>
                    <label class="form-check-label"><input class="form-check-inline" type="checkbox" value="Sunday" name="checkboxDays" />Sunday</label>
                </div>
                <div class="form-group" id="divDayDisplay" style="display:none;">
                    <label>Day:</label>
                    <input class="form-control" id="dayDisplay" readonly />
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input class="form-control" id="start" asp-for="lclNewAvailability.avStartTime" required type="time" />
                    <span asp-validation-for="lclNewAvailability.avStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input class="form-control" id="end" asp-for="lclNewAvailability.avEndTime" required type="time" />
                    <span asp-validation-for="lclNewAvailability.avEndTime" class="text-danger"></span>
                </div>
            </div>

            <button onclick="cancelEdit()" id="cancel" style="display:none;" class="btn btn-dark text-light font-weight-bolder">Cancel Edit</button>
            <button type="submit" id="delete" style="display:none;" asp-page-handler="delete" class="btn btn-danger text-light font-weight-bolder">Delete Selected</button>
            <button type="submit" id="submit" class="btn btn-dark text-light font-weight-bolder" asp-page-handler="save">Add</button>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            document.getElementById("id").value = e.detail.data["av-id"];
            document.getElementById("name").value = e.detail.data["av-name"];
            document.getElementById("start").value = e.detail.data["24-hr-start"];
            document.getElementById("end").value = e.detail.data["24-hr-end"];
            document.getElementById("dayDisplay").value = e.detail.data["av-day"];
            $("#delete").show();
            $("#cancel").show();
            $("#checkboxes").hide();
            $("#divDayDisplay").show();
            document.getElementById("submit").textContent = "Update";
        });
    </script>


    <script>
        function cancelEdit() {
            document.getElementById("id").value = "0";
            document.getElementById("name").value = "";
            document.getElementById("start").value = "";
            document.getElementById("end").value = "";
            $("#delete").hide();
            $("#cancel").hide();
            $("#checkboxes").show();
            $("#divDayDisplay").hide();
            document.getElementById("submit").textContent = "Add New";
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}
