@page
@model SeminarBuildingMap.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin Panel";
}
<h1 class="font-weight-bold text-dark">Admin Panel</h1>
<hr/>
@if (User.Identity.IsAuthenticated && (User.IsInRole("Faculty") || User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <div id="faculty">
        <h2 class="font-weight-normal text-dark">Faculty Actions</h2>
        <a class="btn btn-lg btn-dark text-light font-weight-bolder shadow" asp-area="Admin" asp-page="/OwnedRoomSearch">Update Rooms</a>

    </div>
    <br />
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <div id="manager">
        <h2 class="font-weight-normal text-dark">Manager Actions</h2>
        <a class="btn btn-lg btn-dark text-light font-weight-bolder shadow" asp-area="Admin" asp-page="/Register">Register New User</a>

    </div>
    <br />

}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div id="admin">
        <h2 class="font-weight-normal text-dark">Admin Actions</h2>
        <a class="btn btn-lg btn-dark text-light font-weight-bolder shadow" asp-area="Admin" asp-page="/BuildingEditSearch">Manage Buildings</a>
        <a class="btn btn-lg btn-dark text-light font-weight-bolder shadow" asp-area="Admin" asp-page="/SubuserSearch">Manage Users</a> <!-- admins can promote users to managers of buildings -->
    </div>
}
