@page "{id}"
@model SeminarBuildingMap.Areas.Admin.Pages.OwnedRoomDisplayModel
@{
    //allows user to add or remove events/classes from a room they own
    ViewData["Title"] = "Edit Room";
}
<a asp-page="OwnedRoomSearch/" class="btn btn-dark btn-default pull-right text-light font-weight-bolder">Return to search</a>
<br /><br />

<h1 class="text-dark">Edit Room</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" role="tab" aria-controls="home" aria-selected="true">View/Edit Room</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="EditAvailability/" asp-route-id="@RouteData.Values["id"]">View/Edit Availability</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="EditEvent/" asp-route-id="@RouteData.Values["id"]">View/Edit Events</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" aria-controls="home" aria-selected="false" asp-page="EditOwners/" asp-route-id="@RouteData.Values["id"]">View/Edit Assigned Persons</a></li>
</ul>
<br />
<div class="tab-content">
    <div class="tab-pane fade show active">
        <form method="post">
            <div class="form-group">
                <label>Building ID</label>
                <input class="form-control" asp-for="lclRoom.bdId" readonly />
            </div>
            <div class="form-group">
                <label>Room Number</label>
                <input class="form-control" asp-for="lclRoom.rmNo" readonly />
            </div>
            <div class="form-group">
                <label>Room Floor</label>
                <input class="form-control" asp-for="lclRoom.flNo" readonly />
            </div>
            <div class="form-group">
                <label>Room Type</label>
                @if (User.IsInRole("Admin"))
                {
                    <select asp-for="lclRoom.rmType" class="form-control">
                        <option value="Classroom">Classroom</option>
                        <option value="Office">Office</option>
                    </select>
                    <span asp-validation-for="lclRoom.rmType" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="lclRoom.rmType" class="form-control" readonly />
                }
            </div>
            <div class="form-group">
                <label>Room Name</label>
                <input class="form-control" maxlength="30" asp-for="lclRoom.rmName" required />
                <span asp-validation-for="lclRoom.rmName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark text-light font-weight-bolder">Update Room</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
