@page
@model SeminarBuildingMap.Areas.Admin.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    //also get rid of password input fields and generate a random password to hash until the user sets their own
}



    <div class="container">

        <h1 class="text-dark font-weight-bolder">Register New User</h1>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="text-dark font-weight-bold"></label>
                <input asp-for="Input.Email" required class="form-control shadow" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark font-weight-bold">Role</label>
                <select asp-for="SelectedRole" asp-items="@new SelectList(Model.AvailableRoles)" class="form-control shadow" required></select>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-link btn-dark text-light font-weight-bolder shadow">Register</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
