@page "{id}"
@model SeminarBuildingMap.Areas.Admin.SubuserDisplayModel
@{
    //allow manager to assign rooms or delete user / allow admin to promote/demote manager for building
}

<form method="post">

    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" id="name" asp-for="Email" readonly />
    </div>

    <div class="form-group">
        <label>Role:</label>
        <select asp-for="SelectedRole" asp-items="@new SelectList(Model.AvailableRoles)" class="form-control"></select>
        <span asp-validation-for="SelectedRole" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Assigned Buildings:</label>
        <select asp-for="SelectedBuildings" asp-items="Model.buildings"></select>
    </div>

    <button type="submit" id="submit" class="btn btn-dark text-light font-weight-bolder" asp-page-handler="save">Save</button>
    <button type="submit" id="submit" class="btn btn-danger text-light font-weight-bolder" asp-page-handler="delete" onclick="return confirm('Are you sure you want to delete this user?')">Delete User</button>

</form>

@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
