@page
@model SeminarBuildingMap.Pages.BuildingListModel
@{
    ViewData["Title"] = "BuildingList";
    //Gonna present a datagrid of all buildings on campus, when selected it'll take you to RoomList.cshtml which has a list of rooms for that building
}

<h1>BuildingList</h1>