@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- mapping section, include this on any page with a map-->
@section Mapping{
    <link rel="stylesheet" href="~/css/leaflet.css" />
    <script src="~/js/leaflet.js"></script>
        
    <style>
        #mapid {
            height: 750px;
        }
    </style>

    <style>
        .info-panel {
            position:absolute;
            right: 80px;
            width: 250px;
        }
    </style>



}


<div class="text-center">
    <h1 class="display-4">Hey Goose</h1>
</div>

<div class="info-panel">
    Here is some kind of test again because I have no clue what I am doing and I am not even sure this is suppose to be a div tag
    but I am doing it anyways because I have no clue whats going on. This will probs be changed anyways. Now I need to grab the info
    for a room once it has been selected on the map and put it in here so that I can test my AJAX goodieness. God help me
</div>


<!-- DO NOT REMOVE OR MODIFY THE BELOW DIV, THIS IS WHAT THE MAP IS BOUND TO-->
<div id="mapid"></div>

<!-- pull in the main menu map js file from wwwroot/js/MainMap.js-->
<script src="~/js/MainMap.js"></script> 

<script>

    //this bit of code dynamically generates the room javascript on the server side using the model from SQL and the geoJSON is then shipped with the page, this cannot be in a js file, since it uses
    //the model of this page to operate
    //the bits with the 'at' sign before them are razor syntax, its what is ran server side
    var rooms = [
    @for(int i = 0; i < Model.Rooms.Count(); i++)
    {
        Models.Room room = Model.Rooms.ElementAt(i);
        <text>
        {
            "type": "Feature",
            "properties": { "name": "@room.rmId", "color": "@room.Color"},
            "geometry": {
                "type": "Polygon",
                "coordinates": [[[@room.rmTopLeftPoint],[@room.rmBottomLeftPoint],[@room.rmBottomRightPoint],[@room.rmTopRightPoint]]]
                }
        }
        </text>
        @if(i != Model.Rooms.Count() - 1)
        { 
            <text>,</text>    
        }
    }
        ];

    function style(feature) {
        return {
            fillColor: feature.properties.color
        };
    }

var geoJson = L.geoJSON(rooms, { style: style, onEachFeature: onEachFeature }).addTo(map);
</script>