@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Mapping{
    <link rel="stylesheet" href="~/css/leaflet.css" />
    <script src="~/js/leaflet.js"></script>
    <link rel="stylesheet" href="~/css/L.Control.MousePosition.css" />
    <script src="~/js/L.Control.MousePosition.js"></script>
        
    <style>
        #mapid {
            height: 750px;
        }
    </style>



}
<div class="text-center">
    <h1 class="display-4">hey bird</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="mapid"></div>

<script src="~/js/Darden2nd.js"></script>

<script>
    var rooms = [
    @for(int i = 0; i < Model.Rooms.Count(); i++)
    {
        Models.Room room = Model.Rooms.ElementAt(i);
        <text>
        {
            "type": "Feature",
            "properties": { "name": "@room.RoomNumber", "color": "@room.Color" },
            "geometry": {
                "type": "Polygon",
                "coordinates": @room.Coordinates
                }
        }
        </text>
        @if(i != Model.Rooms.Count() - 1)
        { 
            <text>,</text>    
        }
    }
        ];

    function style(feature) {
        return {
            fillColor: feature.properties.color
        };
    }

    L.geoJSON(rooms, { style: style }).addTo(map);
</script>