@page "{Building}"
@model SeminarBuildingMap.RoomListModel
@{
    ViewData["Title"] = "RoomList";
    //gonna have a datagrid of all Rooms in the selected building, when you select it it will take you to the info about that room
}

<h1 class="text-dark font-weight-bold">Select Room</h1>

@(Html
    .Grid(Model.RoomData)
    .Build(columns =>
    {
        columns.Add(model => model.rmId).Titled("Room ID").Css("hiddenColumn");
        columns.Add(model => model.rmNo).Titled("Room Number");
        columns.Add(model => model.rmName).Titled("Room Name");
        columns.Add(model => model.flNo).Titled("Floor Number");

    })
    .Empty("No Buildings Found")
    .Sortable()
    .Pageable()
    .Filterable()
)

@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    <script>
        document.addEventListener('rowclick', function (e) {
            window.location.href = "/RoomSchedule/" + e.detail.data['rm-id'];
        });
    </script>

}