@page "{Room}"
@model SeminarBuildingMap.RoomScheduleModel
@{
    ViewData["Title"] = "RoomSchedule";
    //present all info about the selected room. will have ownership of room, number, floor, building, etc at top and feature a datagrid with the full schedule of that room everyday at bottom

}

<h1 class="font-weight-bolder text-dark">Schedule for @Model.RoomData.rmName</h1>

@(Html
    .Grid(Model.ScheduleData)
    .Build(columns =>
    {
        columns.Add(model => model.avName).Titled("Class Name");
        columns.Add(model => model.avDay).Titled("Day/Date");
        columns.Add(model => model.avStartTime).Titled("Start Time");
        columns.Add(model => model.avEndTime).Titled("End Time");
    })
    .Empty("No Events Found")
    .Sortable()
    .Pageable()
    .Filterable()
)

@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
}
